# Compiler files
cache/
out/

# Broadcast logs
/broadcast/

# Wake build artifacts
/wake
.wake/

# Dependencies
/lib

# Environment
.env 

# Documentation and notes
notes.md
reports.md
folderstructure.md

# IDE & configs
.github/
.vscode/
protocol.code-workspace

# node modules
node_modules/


